*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
header{
    color:white;
    margin: 30px;
    padding:30px;
    width:120vh;
}
header, article{
    background-color:black;
    border:5px solid white;
    border-radius:12px;
}
body{
    background-image:url("https://wallpaperaccess.com/full/1219598.jpg");
    background-attachment:fixed;
    background-position:center;
    background-size:cover;
}
article{
    color:white;
    font-size:1.5em;
    margin:30px;
    width:500px;
}
