* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}
html, body{
	height:100%;
}
body{
	background-color:black;
	color:white;
	font-size:1.5em;
}
#outer_form_text{
	position:absolute;
}
#outer_form{
	height:100%;
	width:100%;

	align-items: center;
	display:flex;
	justify-content: center;
}
form{
	border:2px solid white;
	padding:30px;
	width:700px;
	height:270px;
	}
	form *:not(input){
		padding-bottom:1em;
	}
#form_user{
	color:green;
	text-align:center;
}
#form_screen{
	text-align:center;
}
section{
	display:flex;
	flex-direction: column;
}
input{
	background-color:black;
	color:green;
	margin-left:1em;
	width:80%;
}