*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
html{
    font-size:10px;
    font-family:'Poppins', 'Times New Roman', Times, serif;
    scroll-behavior:smooth;
}
header, section{
    display:flex;
    
    align-items:center;
    flex-direction:column;
    justify-content:center;
}
header{
    background-image:url(https://getwallpapers.com/wallpaper/full/5/c/d/626399.jpg);
    background-size: cover;
    background-position: top center;
    height:100vh;
}
.intro_txt{
    background-color: rgba(0,0,0, 0.9);
    border: 3px solid red;
    padding:75px;
}
h1{
    animation:h1_shadow 5s ease infinite;
    color:white;
    font-size: 18rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
}
hr{
    animation:hr_enlarge 5s ease;
    border:none;
    border-top:3px double white;
    color:white;
    width:80%;
}
p{
    color:white;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    margin: 5px;
    text-align:center;
}
@keyframes h1_shadow{
    0%{text-shadow: 0px 0px white;}
    50%{text-shadow: 10px 10px #FF1E00;}
    100%{text-shadow: 0px 0px white;}
}
@keyframes hr_enlarge{
    0%{width:0px;}
    100{width:50%;}
}

@media only screen and (max-width: 1200px){
    .intro_txt{
	padding:10px;
	width:95%;
    }
    h1{
	font-size:15vmin;
    }
    p{
	font-size:5vmin;
    }
}

@media only screen and (min-height: 1368px){
    .intro_txt{
	padding:10px;
	width:95%;
    }
    h1{
	font-size:15vmin;
    }
    p{
	font-size:5vmin;
    }
}
