*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    font-size:12px;
    font-family:'Poppins', 'Times New Roman', Times, serif;
    scroll-behavior:smooth;
}
header, div{
    display:flex;
    
    align-items:center;
    flex-direction:column;
    justify-content:center;
}
#header_div p {
    font-family:Arial;
    font-size:2em;
    margin:15px;
    text-transform:uppercase;
}
header{
    background-color:#000;
    color:gray;
    height:100vh;
}
noscript{
    font-size:5em;
}
